@model ContributeComponents.Domains.Telegrams
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_TelegramLayout.cshtml";
}

<div class="row title--right"><div class="col-xs-12 text-right"><a href="./DetailEn?code=@Model.VerificationCode" class="langchange">ENGLISH</a></div></div>
<div class="row">
    <div class="col-md-12 logo-wrap">
        <div class="logo-cont"><img src="~/images/logo.png" class="logo" /></div>
    </div>

    <div class="col-md-12 sometxt">1. 点击以下按钮加入 OTC 电报群，将于每周五分批发放空投</div>
    <div class="col-md-12 text--centered"><a href="https://t.me/joinchat/Hu3BJ1EhxhxhjDfu2e3TFg" target="_blank" class="btn btn-alt join-tme">加入OTC全球官方电报群</a></div>
    <div class="col-md-12 sometxt">2. 把以下验证码复制粘贴发送到OTC电报群里（必须）</div>
    <div class="code-group">
        <span class="copy-txt">@Model.VerificationCode</span>
        <a href="javascript:;" class="btn-copy">复制</a>
    </div>
    <div class="col-md-12 sometxt">3. 把以下链接分享给好友，每推荐一个好友入群成功，即可获得100个 OB！</div>
    <div class="code-group">
        <span class="copy-url">@Model.InviteUrl</span>
        <span class="copy-txt hidden-xs">全球最活跃的区块链社群OTCex开启空投，加入电报群可获取100枚交易所平台币OTC,数量有限，要上车的赶紧跟我来！&ensp;电报群链接：@Model.InviteUrl</span>
        <a href="javascript:;" class="btn-copy">复制</a>
    </div>
</div>

<div class="modal fade pop-tip" tabindex="-1" role="dialog">
    <div class="alert alert-tip alert-dismissible" tabindex="-1">
        <p class="tip-txt">已复制</p>
    </div>
</div>
<div class="row statistics text--centered">
    <div class="col-xs-6">
        <div class="cont">已成功邀请人数<span>@Model.InvitedTotalCount</span></div>
    </div>
    <div class="col-xs-6">
        <div class="cont">已赚取 OTC<span>@(Model.InvitedTotalCount * 100 + 5)</span></div>
    </div>
</div>

@section Scripts {
<script src="~/Scripts/telegram.js"></script>
}
