
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TelegramLayout.cshtml";
}
<div class="row title--right"><div class="col-xs-12 text-right"><a href="~/Telegram/home" class="langchange">ENGLISH</a></div></div>
<div class="row">
    <div class="col-md-12 logo-wrap">
        <div class="logo-cont"><img src="~/images/logo.png" class="logo" /></div>
    </div>
    <br />
    <div class="col-md-12 text--centered"><a href="https://t.me/joinchat/Hu3BJ1EhxhxhjDfu2e3TFg" target="_blank" class="btn btn-alt">加入OTC电报群</a></div>
    <div class="col-md-12 sometxt">每邀请一个好友加入，你将额外获得<span class="flarge">100</span>个OB,邀请越多，奖励越多，赶快行动！</div>
</div>
<div class="row e-address">
    <input type="hidden" value="@ViewBag.ParentId" name="parentId" class="parId" />
    <div class="form-group col-md-offset-2 col-md-8 e-addr"><input type="text" class="form-control inp" placeholder="请输入你的ETH钱包地址" name="ethAddress" required /></div>
    <div class="form-group col-md-offset-2 col-md-8 e-sub"><input type="button" onclick="alert('活动已结束')" class="btn-sub" value="提交" /></div>
</div>
<div class="modal fade pop-tip" tabindex="-1" role="dialog">
    <div class="alert alert-warning alert-dismissible" tabindex="-1">
        <p class="tip-txt"></p>
    </div>
</div>
<div class="row">
    <p class="col-md-offset-1 col-md-10 break-word font-12" style="font-size:12px;">
        OTCex.io 是一个全球化数字资产交易和数字资产期货交易平台，我们平台独创的企业资产数字化模型帮助世界各地的企业将企业的各种资产进行数字化并在平台进行现货和期货交易。我们将发挥全球化明星战队的强大战力，携手优质投资人及顾问团队，以具备压倒性优势的核心撮合技术，和经过市场验证的成熟产品，投入百分百热情和资源为企业资产数字化社群提供安全、公平、开放的交易平台。
    </p>
</div>

@section Scripts {
}



